
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}


input,
button {
    border: 0;
    outline: 0;
    border-radius: 4px;
}


::placeholder {
    color: #37454d;
}


#auth {
    max-width: 100vw;
    min-height: 100vh;
    background-image: url("./../images/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#auth .auth-form {
    width: 500px;
    background-color: #fff;
    border-radius: 18px;
    padding: 35px;
}

#auth .auth-form .form-title {
    h3 {
        font-size: 38px;
        line-height: 50px;
    }

    p {
        font-size: 14px;
        color: #37454d;
    }
}

#auth .auth-form form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}

#auth .auth-form form label,
#auth .auth-form form span {
    color: #37454d;
    font-size: 14px;
    font-weight: 600;
}

#auth .auth-form form a {
    font-size: 14px;
    color: #ff6f6b;
    text-decoration: none;
    font-weight: 500;
}

#auth .auth-form form .row-inputs {
    display: flex;
    gap: 8px;
}

#auth .auth-form form .form-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#auth .auth-form form .form-inputs .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#auth .auth-form form .form-inputs .input-container input {
    width: 100%;
    height: 40px;
    padding-inline: 16px;
    border: 1px solid #9ba2a6;
}

#auth .auth-form form .form-inputs .input-container input:focus {
    border: 1px solid #276968;
}

input[type="checkbox"] {
    accent-color: #276968;
}

#auth .auth-form form .actions-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#auth .auth-form form .actions-container div {
    display: flex;
    align-items: center;
    gap: 8px;
}

#auth .auth-form form .submit-container {
    width: 100%;
    text-align: center;
}

#auth .auth-form form .submit-btn {
    width: 100%;
    height: 40px;
    background-color: #276968;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    cursor: pointer;
}

#auth .auth-form form .submit-btn:hover {
    opacity: 0.8;
}

#auth .auth-form form .submit-btn a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 40px;
}

#auth .auth-form form .social-container {
    display: flex;
    justify-content: space-between;
}

#auth .auth-form form .social-container .item {
    width: 135px;
    height: 40px;
    border: 1px solid #276968;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#auth .auth-form form .social-container .item:hover {
    background-color: #f0f0f0;
}

#auth .auth-form form .social-container .item img {
    width: 20px;
}

#auth .auth-form form .form-inputs .verify-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#auth .auth-form form .form-inputs .verify-inputs input {
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}
